body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 96vh;
}
.loader {
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 3.5rem;
    background-color: transparent;
    border-radius: 100%;
    border: 5px solid transparent;
    border-top-color: rgb(0, 0, 0);
    position: relative;
    animation: 1.5s spinning infinite;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader1 {
    /* position: absolute; */
    height: 2rem;
    width: 2rem;
    transform: rotate(45deg);
    background-color: transparent;
    border-radius: 100%;
    /* border: 5px solid rgba(204, 202, 202, 0.438); */
    border: 5px solid transparent;
    border-top-color: rgb(0, 0, 0);
    animation: 1.5s spinning1 infinite;
}

@keyframes spinning1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader2 {
    /* position: absolute; */
    height: 3rem;
    width: 3rem;
    transform: rotate(45deg);
    background-color: transparent;
    border-radius: 100%;
    border: 5px solid rgba(204, 202, 202, 0.438);
    margin-left: 15px;
    border-top-color: rgb(255, 0, 191);
    animation: 1.5s spinning1 infinite;
}

@keyframes spinning1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}